<jp-slider [options]="sliderOptions">
  <jp-slides>
    <jp-slide *ngFor="let member of members">
      <div class="member">
        <img draggable="false" width="100" *ngIf="member.profileImage" [src]="member.profileImage">
        <h6>{{member.fullName}}</h6>
        <p>{{member.shortBio}}</p>
      </div>
    </jp-slide>
  </jp-slides>
  <jp-slide-pagination></jp-slide-pagination>
  <button jp-slide-arrow="left">Left</button>
  <button jp-slide-arrow="right">Right</button>
</jp-slider>

<div>
  <button (click)="changeSize(-1)">minus 1</button>
  <button (click)="changeSize(1)">plus 1</button>
</div>
