/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jp-sp-w {
  width: 100%;
  display: flex;
  justify-content: center;
}

.jp-sp-d {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;

  &.active {
    background: red;
  }
}
